/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

html, body, #root, .App {
  height: 100%;
}

body,
#root {
  font-family: 'Outfit', sans-serif;
  color: #040202;
}

h1 {
  color: #00473e;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

hr {
  border: 1px solid #00473E;
}

.hidden {
  display: none!important;
}

.font-size-20 {
  font-size: 20px;
}

#error {
  color: red;
}

/* Navbar */
.navbar-landing {
  background-color: #00473e;
  color: #FBFBFB;
  font-size: 20px;
}

.navbar-default {
  color: #00473e;
  font-size: 20px;
}

.navbar-logo {
  flex-basis: 200px;
  margin-left: 5em;
}

.navbar-logo-img {
  width: 100%;
}

.flex-even {
  flex: 1;
}

#product-name {
  margin-left: 5em;
}

#profile {
  margin-right: 6em;
}

.auth-btn {
  font-size: 20px;
  font-family: inherit;
}

.auth-btn:nth-child(2),
.btn-hover {
  color: #00473E;
}

.btn-hover:hover {
  color: #f2f7f5;
  background-color: #00473E;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #00473e;
  font-weight: bold;
}

.active-link {
  text-decoration: underline;
  font-weight: bold;
}

div.default-link:hover {
  text-decoration-color: #00473e;
}

/* Authentication */
#auth {
  color: #F2F7F5;
}

.signup-container .form-input {
    border-bottom: 1px solid #F2F7F5;
    color: #FFFFFF
}

.signup-container .form-input::placeholder {
  color: #A8BBB9;
}

.form-container {
  margin-top: 2em;
  margin-right: 6em;
  margin-left: 6em;
  margin-bottom: 3em;
  flex: 1;
}

.form-container form {
  color: #00473E;
}

.form-container p {
  color: #475D5B;
}

.form {
  flex: 1;
}

.form-label {
  font-size: 18px;
  font-weight: bold;
  margin: 2em 0;
}

.form-input {
  margin-top: 0.5em;
  flex: 1;
  width: 500px;
  max-width: 600px;
}

input[type="text"],
input[type="password"],
select.form-input,
input:focus {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  padding: 0;
  margin-top: 0.5em;
}

#login-pic, #signup-pic {
  width: 600px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
}

.login-btn {
  margin: 1em 0;
  max-width: 120px;
  color: #00473E;
  font-weight: bold;
  padding: 10px 30px;
}

/* Sign Up Page*/
#signup {
  height: 100%;
  background-color: #00473E;
}

.signup-info {
  padding-left: 150px;
  margin-top: 3em;
}

.signup-btn {
  margin: 1em 0;
  max-width: 170px;
  color: #00473E;
  font-weight: bold;
  padding: 10px 25px 10px;
  background-color: #FFA8BA;
  border-color: #FFA8BA;
}

.signup-color, .form-container .signup-color {
  color: #F2F7F5;
}

.signup-form-label {
  font-size: 18px;
  color: #F2F7F5;
  font-weight: bold;
  margin: 1.5em 0;
}

.signup-container {
  margin-right: 6em;
  margin-left: 6em;
  flex: 1;
}

input[type="text"].signup-style,
input[type="password"].signup-style,
select.form-input.signup-style,
input.signup-style:focus {
  background: transparent;
  border: none;
  border-bottom: 1px solid #F2F7F5;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
}

input.signup-style::selection, input.signup-style::placeholder, input.signup-style {
  color: #F2F7F5;
}

/* Landing Page */
#landing-page, #aboutus, #teach-page {
  color: #00473E;
}

#landing-container, #teach-container {
  display: flex;
  height: 35em;
  background-color: #00473e;
  border-bottom-left-radius: 20em;
  color: #FBFBFB;
}

#landing-container h1 {
  color: #F2F7F5;
}

.hero-text {
  margin-top: 12em;
  width: 20em;
  align-items: flex-start;
  flex: 1 1 auto;
  margin-left: 6em;
}

.hero-image-container {
  display: flex;
  margin-left: 20em;
  margin-right: 6em;
}

.hero-image {
  width: 600px;
  height: 550px;
  margin-top: 4em;
}

#project-goal {
  margin-top: 10em;
}

.goal-text {
  padding-left: 30em;
  padding-right: 30em;
}

.purpose-container {
  flex-basis: 0;
  flex: 1 1 0px;
}

.purpose-heading {
  font-weight: bold;
}

.purpose-img {
  width: 150px;
  height: auto;
  margin: 1em;
}

.purpose-text {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Catalog and Category Pages */
.card-title {
  font-weight: bold;
  fill: #00473E;
}

.category-card-text {
  margin-bottom: 0em;
  color: #475D5B;
}

.banner-container {
  margin-left: 6em;
  margin-right: 6em;
  margin-bottom: 2em;
  object-fit: contain;
}

.question-card {
  border-color: #475D5B;
  border-width: 2px;
}

/* Class Page */

.about-teacher {
  background-color: #00473E;
}

/* How it works */
#tutorial {
  margin-top: 12em;
  margin-right: 6em;
  margin-left: 6em;
  margin-bottom: 2em;
}

.tutorial-container {
  margin-left: 6em;
}

.tutorial-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.user-containers {
  flex-basis: 0;
  flex: 1 1 0px;
  margin-right: 40px;
}

.user-container {
  border-radius: 10px;
  flex-basis: 280px;
  background-color: #FBFBFB;
  margin: 20px 30px;
  /* box-shadow: 0 2px 2px 1px rgba(112, 144, 176, 0.2); */
  filter: drop-shadow(0px 16px 40px rgba(112, 144, 176, 0.2));
}

.user-image {
  width: auto;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.user-heading {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin: 15px 20px;
}

.user-text {
  color: #000000;
  text-align: start;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.astext {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.learn-more-btn {
  color: #FFA8BA;
}

/* Frequently Asked Questions */
#questions {
  margin: 10em 6em;
}

.question-container {
  margin-bottom: 20px;
}

.category-card {
  border-radius: 10px;
  flex-basis: 280px;
  filter: drop-shadow(0px 16px 40px rgba(112, 144, 176, 0.2));
  margin-bottom: 2em;
}

.col {
  flex-basis: 315px;
}

.category-card-title {
  color: #00473E;
  font-size: 24px;
  font-weight: bold;
}

.category-card-body {
  background-color: #FBFBFB;
  padding: 0.8em;
  outline: none;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  filter: drop-shadow(0px 16px 40px rgba(112, 144, 176, 0.2));
}

.category-card-text {
  font-weight: normal;
}

.collapse-title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10em;
  margin-left: 1em;
}

.add-icon {
  margin-right: 10px;
}

.collapse-container {
  width: inherit;
}

.collapse-transition {
  transition: transform .4s ease-in-out;
  transform: rotate(45deg);
}

.collapse-text {
  max-width: 50ch;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.spacer {
  flex-grow: 1;
}

/* Home Page */
.carousel-container,
.category-banner {
  margin: 0 6em;
  margin-bottom: 3em;
  margin-top: 1em;
}

.categories-container,
.recommendations-container {
  color: #00473e;
  margin: 0 6em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dot {
  border-radius: 50%;
  background-color: #FAAE2B;
  padding: 10px;
  margin: 5px;
}

.push {
  margin-left: auto;
}

.arrow {
  color: #FBFBFB;
}

.arrow:hover {
  cursor: pointer;
}

.catalog-spacer {
  flex-grow: 1;
}

#category {
  margin-left: 6em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  white-space: nowrap;
}

/* Category Page */
.category-banner {
  position: relative;
  text-align: center;
  max-height: 300px;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FBFBFB;
  font-size: 50px;
}

#subcategory {
  margin: 0 5em;
}

/* Profile page */
#profile {
  width: 100%;
  position: relative;
}

.banner-image {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.9;
}

.profile-container {
  position: absolute;
  left: 0;
  margin-top: 12%;
  margin-left: 6em;
  margin-right: 6em;
  margin-bottom: 10em;
  color: #00473e;
}

.user-details-container {
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #FBFBFB;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-pic {
  border-radius: 50%;
  max-width: auto;
  max-height: auto;
  margin: 1.5em 3em;
  width: 100%;
}

.profile-banner-img {
  width: 100%;
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  width: 15ch;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.details-icon {
  font-size: 22px;
  display: block;
}

.location {
  margin: 4px 15px;
  font-size: 20px;
}

.general-info {
  margin: 0.5em 1.5em;
  align-items: center;
}

.profile-spacer {
  height: 20%;
}

.edit-profile-container {
  display: grid;
}

.edit-profile-btn {
  position: absolute;
  left: calc(82vw - var(--button-width) / 2);
  top: calc(36vh - var(--button-height) / 2);
  --button-width: 200px;
  --button-height: 40px;
  display: flex;
  margin-left: 7em;
  padding: 8px;
  color: #00473e;
  font-weight: bold;
  grid-area: 1 / 1;
}

.edit-profile-btn:hover {
  background-color: #FFCF7C;
  color: #00473e;
}

.profile-background {
  height: 45em;
  color: #F2F7F5;
  margin-top: 2em;
}

.general-info-container {
  margin-top: 20vh;
  margin-left: 2em;
}

.introductions {
  margin-bottom: 2em;
}

.introduction-paragraph {
  font-size: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.profile-input-field {
  width: 400px;
}

.profile-textarea-field {
  width: 880px;
}

.profile-textarea-field::placeholder {
  white-space: pre-line;
}

/* PROFILE SET UP */
.profile-setup {
  background-color: #FFFFFF;
  border-radius: 10px;
}

.app-container {
  margin: 2em 15rem;
  padding: 20px;
  padding-bottom: 40px;
}

.profile-setup-content {
  margin-left: 7rem;
  margin-right: 7rem;
}

.profile-setup-intro {
  padding-top: 1rem;
}

.profile-setup-intro h2 {
  font-family: 'Outfit', sans-serif;
  color: #00473E;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}

.profile-setup-intro p {
  font-family: 'Outfit', sans-serif;
  color: #475D5B;
  text-align: center;
  margin-left: 120px;
  margin-right: 120px;
}

/* Remove */
/* .container {
  width: 924px;
  height: 909px;
  left: 402px;
  top: 134px;

  background: #FFFFFF;
  border-radius: 10px;
} */

.inputTitle {
  color: #00473e;
  font-weight: bold;
  font-size: 24px;
}

.inputTitleState {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}

.profile-setup .row {
  margin-top: 60px;
}

.no-border {
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
}

/* Teacher Application */
.teacher-application {
  background-color: #00473E;
}

.btn-primary {
  background-color: #FAAE2B;
  border-color: #FAAE2B;
  font-family: 'Outfit';
  font-weight: bold;
  outline: #FFCF7C;
  color: #00473E;
  margin: 1em 0;
  max-width: 200px;
  padding: 10px 50px;
  margin-bottom: 5rem;
}

.btn-primary:hover {
  background-color: #FFCF7C;
  border-color: #FFCF7C;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  color: #00473E;
  outline: #FFCF7C;
}

.btn-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 100px;
}

/* application */
.teacher-application {
  background-color: #FFFFFF;
}

.application-intro h2 {
  font-family: 'Outfit', sans-serif;
  color: #00473E;
}

.application-intro p {
  font-family: 'Outfit', sans-serif;
  color: #475D5B;
}

.form-group {
  font-family: 'Outfit', sans-serif;
  color: #00473E;
  font-weight: bold;
}

.jumbotron {
  background-color: #00473E;
}

.container {
  width: 924px;
  height: 909px;
  left: 402px;
  top: 134px;

  background: #FFFFFF;
  border-radius: 10px;
}

/* Teach Info Page */
#teach-container {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 20em;
}

#teach-container h1 {
  color: #F2F7F5;
}
.teach-text {
  width: 35em;
  align-items: flex-start;
  margin-top: 6em;
  margin-right: 6em;
}

.teach-image-container {
  display: flex;
  margin-left: 70px;
  height: 398px;
}

.teach-image {
  width: 600px;
  height: 340px;
  margin-top: 5em;
}

.whatWeDo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
}

.whatWeDo-column {
    flex: 1;
}

.disco-img {
    position: absolute;
    margin-top: 3em;
    width: 290px;
    height: 220px;
    left: 121px;
}

.disco-heading {
  font-weight: bold;
  margin-top: 3em;
  position: absolute;
  left: 491.01px;
}

.disco-text {
  position: absolute;
  margin-top: 8em;
  text-align: left;
  width: 400px;
  left: 491.01px;
}

.connect-img {
  position: absolute;
  margin-top: 3em;
  width: 300px;
  height: 200px;
  left: 1050px;
}
.connect-heading {
  font-weight: bold;
  margin-top: 3em;
  position: absolute;
  text-align: left;
  left: 600px;
}

.connect-text {
  position: absolute;
  margin-top: 8em;
  text-align: left;
  width: 400px;
  left: 600px;
}

.art-img {
  position: absolute;
  margin-top: 3em;
  width: 250px;
  height: 200px;
  left: 121px;
}

.art-heading {
  font-weight: bold;
  margin-top: 3em;
  position: absolute;
  left: 491.01px;
}

.art-text {
  position: absolute;
  margin-top: 8em;
  text-align: left;
  width: 430px;
  left: 491.01px;
}

.steps-row {
  display: flex;
}
.steps-column {
  flex: 50%;
  padding: 10px;
  height: 263;
}

.steps-img {
  position: absolute;
  width: 450px;
  height: 500px;
  left: 122px;
  margin-top: 100.41px;
}

.individualSteps-column {
  flex: 50%;
  padding: 10px;
  margin-top: 100px;
  align-items: left;
}

.thirdStep-column {
  flex: 50%;
  padding: 30px;
  margin-top: 100px;
  align-items: left;
}

.number-title {
  position: absolute;
  left: 739px;
  margin-top: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.number-text {
  position: absolute;
  left: 798px;
  margin-top: 60px;
  width: 480px;
  height: 99px;
  text-align: left;
}

#how-it-works {
  margin-top: 7em;
}

#apply-teacher {
  margin-top: 25em;
  margin-bottom: 300px;
}

.apply-text {
  padding-left: 20em;
  padding-right: 20em;
  font-size: 17px;
  margin-top: 1em;
}

.teach-button, .signup-button {
  font-weight: bold;
  color: #00473E;
}

/* About Us Page */
.aboutus-img {
  width: 1450px;
  height: 400px;
}

#about-us {
  margin-top: 7em;
  height: 650px;
}

.table-of-contents-container {
  margin: 2em 6em;
}

.table-of-contents {
  margin-right: 6em;
  font-size: 24px;
  text-align: start;
}

.table-padding {
  padding: 7px;
}

a {
  color: #00473E;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.about-text {
  font-size: 18px;
  text-align: start;
}

.team-member {
  flex-basis: 250px;
}

.team-pic {
  width: 250px;
}

.text-style {
  padding: 5px;
  color: #475D5B;
}

#meet-the-team {
  margin-top: 3em;
}

.motivation-text-containter {
  padding: 3em;
}

.motivation-img {
  width: 100%;
}

.motivation-container {
  background-color: #FBFBFB;
  width: 600px;
  margin: 10px 20px;
  filter: drop-shadow(0px 16px 40px rgba(112, 144, 176, 0.2));
}

.motive-heading {
  font-weight: bold;
  font-size: 32px;
}

.motive-text {
  padding: 2em 3em;
  font-size: 18px;
  height: 460px;
}

.subtitle-about {
  font-weight: 400;
}

/* Footer */
footer {
  background-color: #00473E;
  padding: 60px 20px;
  margin-top: auto;
}

footer>p {
  color: #FBFBFB;
}

@media (min-width: 768px) {
  .profile-pic {
    max-width: 120px;
    max-height: 120px;
  }

  .introduction-paragraph {
    width: 40ch;
  }

  #meet-the-team {
    margin-top: 10em;
  }

  .team-pic {
    width: 150px;
  }

}

@media (min-width: 992px) {
  .profile-pic {
    max-width: 140px;
    max-height: 140px;
  }

  .text-style {
    font-size: 16px;
  }

  #meet-the-team {
    margin-top: 8em;
  }

  .team-pic {
    width: 200px;
  }

  .introduction-paragraph {
    width: 45ch;
  }
}

@media (min-width: 1200px) {
  .profile-pic {
    max-width: 160px;
    max-height: 160px;
  }

  .introduction-paragraph {
    width: 58ch;
  }

  #meet-the-team {
    margin-top: 6em;
  }

  .team-pic {
    width: 250px;
  }

  .text-style {
    font-size: 18px;
  }
}