/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body, #root {
  font-family: 'Outfit', sans-serif;
  color: #FBFBFB;
}

h1 {
  color: #00473e;
}

h2 {
  font-weight: bold;
}

#error {
  color: red;
}

/* Navbar */

.navbar-landing {
  background-color: #00332C;
}

.navbar-inner {
  /* background-color: transparent; */
  background-color: #00473E;
  color: #FBFBFB;
  font-size: 20px;
}

.navbar-default {
  color: #00332C;
  font-size: 20px;
}

.flex-even {
  flex: 1;
}

#product-name {
  margin-left: 5em;
}

#profile {
  margin-right: 6em;
}

.navbar-auth {
  color: #00473E;
  margin-top: 1em;
  font-size: 20px;
}

.link:hover, .link:active {
  text-decoration: underline;
  text-decoration-color: #00332C;
  font-weight: bold;
}

/* Authentication */
#auth {
  color: #F2F7F5;
}

.form-container {
  margin-top: 2em;
  margin-right: 6em;
  margin-left: 6em;
  margin-bottom: 3em;
  flex: 1;
}

.form-container form {
  color: #00473E;
}

.form-container p {
  color: #475D5B;
}

.form {
  flex: 1;
}

.form-label {
  font-size: 18px;
  font-weight: bold;
  margin: 2em 0;
}

.form-input {
  margin-top: 0.5em;
  flex: 1;
  width: 500px;
  max-width: 600px;
}

input[type="text"], input[type="password"], select.form-input, input:focus {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
}

#login-pic {
  width: 500px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
}

.login-btn {
  margin: 1em 0;
  max-width: 120px;
  color: #00473E;
  font-weight: bold;
  padding: 10px 30px;
}

/* Landing Page */
#landing-page {
  color: #00473E;
}

#landing-container {
  display: flex;
  height: 35em;
  background-color: #00332C;
  border-bottom-left-radius: 20em;
  color: #FBFBFB;
}

#landing-container h1 {
  color: #F2F7F5;
}

.hero-text {
  margin-top: 12em;
  width: 20em;
  align-items: flex-start;
  flex: 1 1 auto;
  margin-left: 6em;
}

.hero-image-container {
  display: flex;
  flex: 20 1 auto;
  margin-left: 20em;
}

.hero-image {
  width: 600px;
  height: 550px;
  position: absolute;
  margin-top: 4em;
}

#project-goal {
  margin-top: 10em;
}

.goal-text {
  padding-left: 30em;
  padding-right: 30em;
}

.purpose-container {
  flex-basis: 0;
  flex: 1 1 0px;
}

.purpose-heading {
  font-weight: bold;
}

.purpose-img {
  width: 150px;
  height: auto;
  margin: 1em;
}

.purpose-text {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* How it works */
#tutorial {
  margin-top: 12em;
}

.tutorial-container {
  margin-left: 6em;
}

.tutorial-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
          line-clamp: 4;
  -webkit-box-orient: vertical;
}

.user-containers {
  flex-basis: 0;
  flex: 1 1 0px;
  margin-right: 40px;
}

.user-container {
  border-radius: 10px;
  flex-basis: 280px;
  background-color: #FBFBFB;
  margin: 20px 30px;
  /* box-shadow: 0 2px 2px 1px rgba(112, 144, 176, 0.2); */
  filter: drop-shadow(0px 16px 40px rgba(112, 144, 176, 0.2));
}

.user-image {
  width: auto;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.user-heading {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin: 15px 20px;
}

.user-text {
  color: #000000;
  text-align: start;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.astext {
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

.learn-more-btn {
  color: #FFA8BA;
}

/* Frequently Asked Questions */
#questions {
  margin: 10em 6em;
}

.question-container {
  margin-bottom: 20px;
}

.card {
  border: 3px solid #475D6B;
  border-radius: 10px;
}

.collapse-title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10em;
  margin-left: 1em;
}

.add-icon {
  margin-right: 10px;
}

.collapse-container {
  width: inherit;
}

.collapse-transition {
  transition: transform .4s ease-in-out;
  transform: rotate(45deg);
}

.collapse-text {
  max-width: 50ch;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.spacer {
  flex-grow: 1;
}

/* Home Page */
.carousel-container {
  margin: 3em 6em;
}

.categories-container, .recommendations-container {
  color: #00473e;
  margin: 2em 6em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dot {
  border-radius: 50%;
  background-color: #FAAE2B;
  padding: 10px;
  margin: 5px;
}

.push {
  margin-left: auto;
}

.arrow {
  color: #FBFBFB;
}

.catalog-spacer {
  flex-grow: 1;
}

#category {
  margin-left: 5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  white-space: nowrap;
}

/* Teacher Application */
/* button */
.teacher-application {
  background-color: #00473E;
}

.btn-primary {
  background-color: #FAAE2B;
  border-color: #FAAE2B;
  font-family: 'Outfit';
  font-weight: bold;
  outline: #FFCF7C;
  color: #00473E;
}

.btn-primary:hover {
  background-color: #FFCF7C;
  border-color: #FFCF7C;
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  color: #00473E;
  outline: #FFCF7C;
}

/* application */
.application-intro h2 {
  font-family: 'Outfit', sans-serif;
  color: #00473E;
}

.application-intro p {
  font-family: 'Outfit', sans-serif;
  color: #475D5B;
}

.form-group {
  font-family: 'Outfit', sans-serif;
  color: #00473E;
  font-weight: bold;
}

.jumbotron {

}

/* Footer */
footer {
  background-color: #00473E;
  padding: 60px 20px;
  margin-top: auto;
}

footer > p {
  color: #FBFBFB;
}
